.presentations {
  background-color: #f6f6f6;

  @include for-size(tablet) {
    padding-top: rem(20);
    flex: 0 0 78%;
  }
  @include for-size(desktop) {
    flex: 0 0 86%;
  }
}

.presentations__content-list {
  padding-top: rem(20);
  @include for-size(tablet) {
    padding-top: rem(0);
  }
}

.presentations__content-item {
  margin-bottom: rem(10);
  @include for-size(tablet) {
    margin-bottom: rem(25);
  }
}

.presentations__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: rem(15);
  @include for-size(tablet) {
    flex-direction: row;
  }
}

.presentations__title {
  color: $red-color;
  margin-bottom: rem(12);
  font-size: rem(20);
  letter-spacing: -1px;
  text-align: center;
  @include for-size(tablet) {
    margin-right: rem(60);
    padding-left: rem(15);
    margin-bottom: rem(0);
    text-align: left;
    font-size: rem(24);
  }
  @include for-size(desktop) {
    margin-right: rem(100);
  }
}

.presentations__text {
  color: rgba($dark-color, 0.6);
  text-transform: uppercase;
  font-weight: 600;
  font-size: rem(14);
  text-decoration: underline;
  @include for-size(tablet) {
    text-decoration: none;
  }
}

.presentation__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.presentations__text:hover {
  color: $red-color;
  transition: 0.2s;
  transform: scale(1.1);
}

.presentation__item {
  background: $white-color;
  // border-bottom-left-radius: 10px;
  // border-bottom-right-radius: 10px;
  border: 1px solid rgba($dark-color, 0.3);
  margin-bottom: rem(20);
  margin-right: auto;
  margin-left: auto;
}

.presentation__item--large {
  width: rem(300);
  @include for-size(tablet) {
    width: 48%;
    margin-right: 0;
  }
  @include for-size(desktop) {
    width: 24%;
  }
}

.presentation__item:hover {
  // box-shadow: 0px 0px 10px 0px rgba($red-color, 1);
  transition: 0.2s;
}

.presentation__link-img {
  width: 100%;
  height: rem(200);
  margin-bottom: rem(6);
  object-fit: cover;
  object-position: center;
  @include for-size(desktop-xl) {
    width: 100%;
  }
}

.presentation__title {
  color: $dark-color;
  margin-left: rem(10);
  margin-bottom: rem(6);
}

// .presentation__title:hover {
//   text-decoration: underline;
//   transition: 0.2s;
// }

.presentation__description {
  color: rgba($dark-color, 0.6);
  margin-left: rem(12);
  font-size: rem(12);
  margin-bottom: rem(6);
}

.overlay {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba($dark-color, 0.7);
  visibility: hidden;
  opacity: 0;
}

.presentation__item-image {
  position: relative;
}

.presentation__item-image:hover {
  .overlay {
    opacity: 1;
    visibility: visible;
    transition: 0.2s;
  }
}

.overlay__play {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.overlay__buttons {
  position: absolute;
  bottom: 5%;
  right: 5%;
  display: flex;
}

.btn {
  cursor: pointer;
  border: none;
  background-color: rgba($red-color, 1);
  color: $white-color;
  padding: rem(5) rem(8);
  font-size: rem(12);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: rem(5);

  &--download {
    width: rem(90);
  }

  &--large {
    width: rem(120);
    height: rem(40);
    font-size: rem(18);

    &:hover {
      border: 1px solid $red-color;
      background-color: $tomato-color;
      font-weight: 600;
      .button__icon {
        transform: scale(1.2);
      }
    }
  }

  &--right {
    margin: 0 auto;
    @include for-size(desktop) {
      margin: 0;
      margin-left: auto;
    }
  }

  &--center {
    margin: 0 auto;
  }

  &:hover {
    color: rgba($red-color, 1);
    background-color: #fff;
    transition: 0.3s;

    .button__icon {
      fill: rgba($red-color, 1);
      transition: 0.3s;
    }
  }
}

.button__icon {
  width: rem(14);
  height: rem(14);
  margin-right: rem(5);
  display: block;
  fill: $white-color;
}

.icon__play {
  width: rem(70);
  height: rem(70);
  fill: $white-color;
  &:hover {
    fill: rgba($red-color, 1);
    transition: 0.2s;
    transform: scale(1.05);
  }
}

.presentation__modal {
  position: absolute;
  z-index: 20;
  background-color: $white-color;
  width: 100%;
  left: -150%;
  top: rem(45);
  padding-top: rem(16);
  text-align: center;
}

.presentation__modal.active {
  left: 0;
  transition: 0.3s;
}
