.single {
  flex: 0 0 78%;
  background-color: #f6f6f6;
  min-width: 0;
  @include for-size(desktop) {
    flex: 0 0 86%;
  }
}

.single__container {
  padding: rem(20) rem(30) rem(30);
}

.single__header {
  margin-bottom: rem(20);
}

.single__title {
  text-align: center;
  font-size: rem(24);
  margin-bottom: rem(10);
}

.single__category {
  font-size: rem(16);
  color: rgba($dark-color, 0.7);
  padding-left: rem(20);
}

.image-slider__box {
  margin-bottom: rem(20);
}

.image-slider__wrapper {
  position: relative;
}

.image-slider__multiplay {
  width: 80%;
  margin: 0 auto;
  @include for-size(desktop) {
    width: 70%;
  }
}

.image-slider__pagination {
  width: 100%;
  max-height: rem(500);
  @include for-size(tablet) {
    width: 70%;
  }
}

.image-slider__image::after {
  display: flex;
  content: '1';
  width: rem(24);
  height: rem(24);
  background-color: rgba($dark-light-color, 1);
  position: absolute;
  top: 0;
  right: 0;
  justify-content: center;
  align-items: center;
  color: $white-color;
  font-size: rem(14);
}

.image-slider__image img {
  margin: 0 auto;
  width: 100%;
  height: rem(150);
}

.image-slider__pagination-img {
  height: rem(500);
}

.swiper-button-prev,
.swiper-button-next {
  color: $red-color;
  font-weight: 900;
  // position: absolute;
  // top: 30%;
  // @include for-size(tablet) {
  //   top: 30%;
  // }
  // @include for-size(desktop) {
  //   top: 26%;
  // }
}

// .slider__button--prev {
//   left: 4%;
//   @include for-size(tablet) {
//     left: 29%;
//   }
//   @include for-size(desktop) {
//     left: 26.5%;
//   }
// }

// .slider__button--next {
//   right: 4%;
//   @include for-size(tablet) {
//     right: 5%;
//   }
//   @include for-size(desktop) {
//     right: 10%;
//   }
// }

.line {
  display: flex;
  justify-content: center;
  align-items: center;
}

.line::after {
  content: '';
  width: 90%;
  height: rem(1);
  background-color: rgba($dark-light-color, 0.4);
  color: $white-color;
  margin-bottom: rem(30);
}

.swiper-pagination {
  top: rem(10);
  margin: 0 auto;
  width: 80%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  @include for-size(tablet) {
    width: 40%;
  }
}

.swiper-pagination-bullet {
  display: block;
  width: rem(20);
  height: rem(20);
  margin-right: rem(5);
  background-color: rgba($red-color, 1);
  color: $white-color;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: rem(10);
  @include for-size(tablet) {
    font-size: rem(14);
    width: rem(24);
    height: rem(24);
  }
}

.single__content {
  padding-top: rem(30);
  @include for-size(desktop) {
    display: flex;
    justify-content: space-between;
  }
}

.slide__box {
  @include for-size(tablet) {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid rgba($red-color, 0.7);
    width: 90%;
    margin: 0 auto;
    border-radius: 10px;
    margin-bottom: rem(30);
  }
}

.slaids-description {
  flex: 0 0 60%;
  border: 1px solid rgba($dark-color, 0.7);
  justify-content: center;
  background-color: $white-color;
  border-radius: 10px;
  margin-bottom: rem(20);
  @include for-size(desktop) {
    margin-bottom: rem(0);
  }
}

.other-presentation {
  flex: 0 0 38%;
  border-radius: 10px;
  background-color: $white-color;
}

.single__content-title {
  text-align: center;
  color: rgba($dark-color, 0.7);
  margin-bottom: rem(20);
}

.slide__number {
  text-align: center;
  background-color: $red-color;
  margin: 0 auto;
  width: rem(100);
  border-radius: 4px;
  color: $white-color;
  font-weight: 500;
  padding: rem(5) rem(10);
  margin-bottom: rem(10);
}

.description__box {
  text-align: center;
  width: 80%;
  margin: 0 auto rem(20);

  @include for-size(tablet) {
    width: 45%;
    margin-bottom: rem(0);
  }
}

.slide__description-title {
  margin-bottom: rem(5);
  font-size: rem(14);
}

.slide__img {
  margin-bottom: rem(10);
  @include for-size(tablet) {
    width: 50%;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    margin-bottom: rem(0);
  }
}

.slide__description {
  font-size: rem(10);
  line-height: 1.5;
  @include for-size(tablet) {
    font-size: rem(12);
    letter-spacing: -1px;
  }
}

.other-presentation__box {
  display: flex;
  border: 1px solid rgba($dark-color, 0.4);
  width: 80%;
  margin: 0 auto rem(10);
  @include for-size(tablet) {
    width: 100%;
  }
  @include for-size(desktop) {
    width: 90%;
  }
}

.other-presentation__box:hover {
  transition: 0.3s;
  transform: scale(1.02);
}

.other-presentation__box:not(:last-of-type) {
  border-bottom: 1px solid rgba($dark-color, 0.4);
}

.other-presentation__description-box {
  width: 40%;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}

.other-presentation__img {
  width: 50%;
  max-height: rem(150);
}

.other-presentation__description {
  text-align: center;
  font-size: rem(14);
  margin-bottom: rem(10);
}

.other-presentation__views {
  font-size: rem(10);
}

.other-presentation__box-link {
  display: flex;
  color: rgba($dark-color, 0.7);
}
