.single {
  flex: 0 0 78%;
  background-color: #f6f6f6;
  min-width: 0;
  @include for-size(desktop) {
    flex: 0 0 86%;
  }
}

.single__container {
  padding: rem(20) rem(30) rem(30);
}

.single__header {
  margin-bottom: rem(20);
}

.single__title {
  text-align: center;
  font-size: rem(24);
  margin-bottom: rem(10);
}

.single__category {
  font-size: rem(16);
  color: rgba($dark-color, 0.7);
  padding-left: rem(50);
}

.image-slider__box {
  margin-bottom: rem(12);
}

.image-slider__wrapper {
  position: relative;
}

.image-slider__multiplay {
  width: 100%;
  margin: 0 auto;
  @include for-size(desktop) {
    width: 95%;
  }
}

.image-slider__pagination {
  width: 100%;
  max-height: rem(500);
  margin-bottom: rem(20);
  @include for-size(tablet) {
    width: 90%;
  }
  @include for-size(desktop) {
    width: 80%;
  }
}

.image-slider__image {
  border: 1px solid rgba($dark-color, 0.7);
}

.image-slider__image:hover {
  transition: 0.2s;
  border: 1px solid rgba($red-color, 0.7);
  & > .image-slider__number {
    background-color: red;
    transition: 0.2s;
  }
}

.image-slider__number {
  display: flex;
  width: rem(24);
  height: rem(24);
  background-color: rgba($dark-light-color, 1);
  position: absolute;
  top: 0;
  right: 0;
  justify-content: center;
  align-items: center;
  color: $white-color;
  font-size: rem(14);
}

.image-slider__image img {
  margin: 0 auto;
  width: 100%;
  height: rem(150);
}

.image-slider__pagination-img {
  height: rem(500);
}

.swiper-button-prev,
.swiper-button-next {
  color: $red-color;
  font-weight: 900;
}

.line {
  display: flex;
  justify-content: center;
  align-items: center;
}

.line::after {
  content: '';
  width: 90%;
  height: rem(1);
  background-color: rgba($dark-light-color, 0.4);
  color: $white-color;
  margin-bottom: rem(30);
}

.swiper-pagination {
  top: rem(10);
  margin: 0 auto;
  width: 80%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  @include for-size(tablet) {
    width: 40%;
  }
}

// .swiper-pagination-bullet {
//   display: block;
//   width: rem(20);
//   height: rem(20);
//   margin-right: rem(5);
//   background-color: rgba($red-color, 1);
//   color: $white-color;
//   display: flex;
//   align-items: center;
//   justify-content: center;
//   font-size: rem(10);
//   @include for-size(tablet) {
//     font-size: rem(14);
//     width: rem(24);
//     height: rem(24);
//   }
// }

.single__content {
  padding-top: rem(30);
  margin: 0 auto;

  @include for-size(tablet) {
    width: 70%;
  }
  @include for-size(desktop) {
    display: flex;
    justify-content: space-between;
    width: 70%;
    margin: 0 auto;
  }
}

.slide__box {
  margin-bottom: rem(30);
  @include for-size(tablet) {
    // display: flex;
    // justify-content: space-between;
    // align-items: center;
    width: 98%;
    margin: 0 auto;
  }
}

.slide__wrapper {
  margin-bottom: rem(10);
}

.single__content-wrapper {
  @include for-size(desktop) {
    flex: 0 0 60%;
  }
}

.slaids-description {
  flex: 0 0 60%;
  border: 1px solid #aaa;
  justify-content: center;
  background-color: $white-color;
  margin-bottom: rem(20);
  padding-top: rem(20);
  @include for-size(desktop) {
    margin-bottom: rem(0);
  }
}

.other-presentation {
  flex: 0 0 38%;
  border-radius: 10px;
}

.single__content-title {
  text-align: center;
  color: rgba($dark-color, 0.7);
  margin-bottom: rem(20);
  margin-top: rem(20);
}

.slide__number {
  text-align: center;
  background-color: $red-color;
  margin: 0 auto;
  width: rem(100);
  border-radius: 4px;
  color: $white-color;
  font-weight: 500;
  padding: rem(5) rem(10);
  margin-bottom: rem(10);
}

.description__box {
  text-align: center;
  width: 80%;
  margin: 0 auto rem(20);

  // @include for-size(tablet) {
  //   margin-bottom: rem(0);
  // }
}

.slide__description-title {
  margin-bottom: rem(5);
  font-size: rem(14);
}

.slide__img {
  margin-bottom: rem(10);
  @include for-size(tablet) {
    // width: 50%;
  }
}

.slide__description {
  font-size: rem(10);
  line-height: 1.5;
  @include for-size(tablet) {
    font-size: rem(12);
    letter-spacing: -1px;
  }
}

.other-presentation__box {
  display: flex;
  border: 1px solid #aaa;
  // width: 85%;
  margin: 0 auto rem(10);
  max-width: rem(360);
  max-height: rem(100);
}

.other-presentation__box:hover {
  transition: 0.3s;
  transform: scale(1.02);
}

.other-presentation__box:not(:last-of-type) {
  border-bottom: 1px solid rgba($dark-color, 0.4);
}

.other-presentation__description-box {
  width: 50%;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}

.other-presentation__img {
  width: 50%;
  max-height: rem(150);
}

.other-presentation__description {
  text-align: center;
  font-size: rem(14);
  margin-bottom: rem(10);
}

.other-presentation__views {
  font-size: rem(10);
}

.other-presentation__box-link {
  display: flex;
  color: rgba($dark-color, 0.7);
}

.single__wrapper {
  display: flex;
  justify-content: space-between;
  // align-items: center;
}

.single__wrapper-content {
  display: inline-block;
  width: 100%;
  margin: 0 auto;
  @include for-size(tablet) {
    width: 70%;
  }
}

.banner {
  display: none;
  @include for-size(tablet) {
    display: inline-block;
    // border: 1px solid red;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
  }
}

.banner-left {
  display: none;
  @include for-size(desktop) {
    display: inline-block;
    width: 160px;
    height: 600px;
  }
}

.banner-right {
  width: 280px;
  height: 600px;
  @include for-size(tablet) {
    display: inline-block;
    width: 20%;
  }
}

.banner-center {
  width: 90%;
  height: 150px;
  margin: 0 auto rem(20);
}

.slider,
.slider-big {
  position: relative;
  padding-left: rem(40);
  padding-right: rem(40);
}

.slick-track {
  display: flex;
}

.slick-list {
  overflow: hidden;
}

.slick-arrow {
  position: absolute;
  top: 50%;
  z-index: 20;
  font-size: 0;
  width: 20px;
  height: 40px;
  margin: -20px 0 0 0;
  border: none;
  cursor: pointer;
}

.slick-arrow.slick-prev {
  left: 0;
  background: url('../images/sl-arrow_l.svg') 0 0 / 100% no-repeat;
}

.slick-arrow.slick-next {
  right: 0;
  background: url('../images/sl-arrow_r.svg') 0 0 / 100% no-repeat;
}

.image-slider__slide {
  margin: 0 rem(5);
}

.swiper-container {
  margin-left: auto;
  margin-right: auto;
  position: relative;
  overflow: hidden;
  list-style: none;
  padding: 0;
  z-index: 1;
}
