// fonts
$main-font: 'Montserrat', sans-serif;

// colors
$blue-color: #00a6e4;
$white-color: #fff;
$gray-color: #d3d3d3;
$white-light-color: #e5e5e5;
$dark-color: #000;
$dark-light-color: #333;
$red-color: #ff0000;
$tomato-color: #991500;
$dark-gray-color: #232f3e;
